body {
    background-color: #555;
}

#auth, #register-form {
    margin: 20px auto;
    padding: 30px;
    background-color: #ccc;
    border-radius: 10px;
    width: 400px;
}

#error {
    background-color: #ccc;
    width: 700px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
}

#user-page {
    background-color: #ccc;
    width: 700px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
}

.footer > .localization-bar {
    text-align: center;
    display: block;
    width: 300px;
    margin: 20px auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: #888;
    color: black;
}

.footer > .localization-bar a {
    color: black;
    text-decoration: underline solid #555;
}